<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Checkout</h3>
  </div>
  <div class="panel-body">
    <form name="checkoutForm" novalidate ng-submit="placeOrder()">
      <div class="form-group"
           ng-class="{'has-error' : checkoutForm.checkoutEmail.$invalid && checkoutForm.checkoutEmail.$touched }">
        <label for="checkoutEmail">Email address</label>
        <input
          type="email"
          class="form-control"
          id="checkoutEmail"
          name="checkoutEmail"
          placeholder="Enter email"
          ng-model="checkout.email"
          required>

        <div ng-messages="checkoutForm.checkoutEmail.$error" ng-if="checkoutForm.checkoutEmail.$touched">
          <div ng-message="required" class="text-danger">Email is required</div>
          <div ng-message="email" class="text-danger">Entered value is not a valid email</div>
        </div>
      </div>
      <div class="form-group"
           ng-class="{'has-error' : checkoutForm.checkoutName.$invalid && checkoutForm.checkoutName.$touched }">
        <label for="checkoutName">Name</label>
        <input
          type="text"
          class="form-control"
          id="checkoutName"
          name="checkoutName"
          placeholder="Name"
          ng-model="checkout.name"
          required
          minlength="3"
          maxlength="30">

        <div ng-messages="checkoutForm.checkoutName.$error" ng-if="checkoutForm.checkoutName.$touched">
          <div ng-message="required" class="text-danger">Name is required</div>
          <div ng-message="minlength" class="text-danger">Name is too short</div>
          <div ng-message="maxlength" class="text-danger">Name is too long</div>
        </div>
      </div>
      <div class="form-group"
           ng-class="{'has-error' : checkoutForm.checkoutAddress.$invalid && checkoutForm.checkoutAddress.$touched }">
        <label for="checkoutAddress">Address</label>
        <textarea
          class="form-control"
          id="checkoutAddress"
          name="checkoutAddress"
          placeholder="Address"
          ng-model="checkout.address"
          required
          minlength="10"
          maxlength="100"></textarea>
      </div>
      <div ng-messages="checkoutForm.checkoutAddress.$error" ng-if="checkoutForm.checkoutAddress.$touched">
        <div ng-message="required" class="text-danger">Address is required</div>
        <div ng-message="minlength" class="text-danger">Address is too short</div>
        <div ng-message="maxlength" class="text-danger">Address is too long</div>
      </div>
      <nav class="text-center">
        <button type="submit" class="btn btn-default" ng-disabled="checkoutForm.$invalid">Place order</button>
      </nav>
    </form>
  </div>
</div>
