
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Basket</h3>
  </div>
  <div class="panel-body">
    <span ng-show="getItemsCount() === 0">Your basket is empty</span>
    <div ng-show="getItemsCount() > 0">
      You have {{ getItemsCount() }} items in your basket.<br/>

      Total value: <strong>{{ getTotalValue() | price }}</strong>
      <div class="text-center">
        <a ui-sref="basket" class="btn btn-default">View basket</a>
        <a ui-sref="basket.checkout" class="btn btn-primary">Checkout</a>
      </div>
    </div>
  </div>
</div>
