<div class="row">

  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Basket</h3>
      </div>
      <div class="panel-body">

        <table class="table table-striped" ng-if="orderLines">
          <thead>
          <tr>
            <th width="50%">Name</th>
            <th width="20%">Quantity</th>
            <th width="30%">Total value</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="orderLine in orderLines">
            <td>{{ ::orderLine.product.title }}</td>
            <td>
              {{ orderLine.quantity }}
              <button class="btn btn-xs" ng-click="incrementQuantity(orderLine)"><span
                class="glyphicon glyphicon-plus"></span></button>
              <button class="btn btn-xs" ng-click="decrementQuantity(orderLine)"><span
                class="glyphicon glyphicon-minus"></span></button>
            </td>
            <td>{{ orderLine.getTotalValue() | price }}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th>{{ getOrderValue() | price }}</th>
          </tr>
          </tfoot>
        </table>

        <div class="text-center">
          <a ui-sref="products" class="btn">Continue shopping</a>
          <a ui-sref="basket.checkout" class="btn btn-primary" ng-hide="'basket.checkout' | isState">Proceed to checkout</a>

        </div>


      </div>
    </div>

    <div ui-view></div>
  </div>
</div>
