<div class="row">
  <div class="col-md-4">
    <basket></basket>
  </div>

  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Items</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          Filter : <input type="text" ng-model="query.searchText">
        </div>

        <div class="list-group">
          <div ng-click="view(product)" class="list-group-item product-list-item" ng-repeat="product in products | filter:query.searchText">
            <div class="row">
              <div class="col-md-3">
                <div class="thumbnail">
                  <img ng-src="{{ ::product.thumbnailUrl }}" alt="{{ ::product.title }}">
                </div>
              </div>
              <div class="col-md-6">
                <h4 class="list-group-item-heading">{{ ::product.title }}</h4>
                <small>by {{ ::product.author }}</small>
                <div rating="product.rating"></div>
              </div>
              <div class="col-md-2">
                <div class="text-center h2">${{ ::product.price }}</div>
                <button type="button" class="btn btn-primary" ng-click="buyItem(product, $event);">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  Add to basket
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
