<!doctype html>
<html class="no-js" ng-app="angularStore">
<head>
  <meta charset="utf-8">
  <title>angularStore</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp,src}) styles/vendor.css -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->


  <!-- build:css({.tmp,src}) styles/app.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="app/index.css">
  <link rel="stylesheet" href="app/products/products.css">
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:js scripts/modernizr.js -->
  <script src="../bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<div class="container">

  <nav class="navbar navbar-inverse" ng-controller="HeaderController">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href ui-sref="products" class="navbar-brand">
          <span class="glyphicon glyphicon-shopping-cart"></span> Angular Store
        </a>
      </div>
      <div class="navbar-collapse">
        <p class="navbar-text navbar-right">Hello {{ user.name }}</p>
      </div>
    </div>
  </nav>

  <div ui-view></div>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-touch/angular-touch.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="../bower_components/lodash/dist/lodash.compat.js"></script>
<script src="../bower_components/angular-messages/angular-messages.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,src}) scripts/app.js -->
<!-- inject:js -->
<script src="app/index.js"></script>
<script src="app/products/product-details/product-details.controller.js"></script>
<script src="app/basket/checkout/checkout.controller.js"></script>
<script src="components/rating/rating.directive.js"></script>
<script src="components/products/product.service.js"></script>
<script src="components/price/price.filter.js"></script>
<script src="components/orders/order.service.js"></script>
<script src="components/basket/basket.service.js"></script>
<script src="components/basket/basket.directive.js"></script>
<script src="app/products/products.controller.js"></script>
<script src="app/basket/basket.controller.js"></script>
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>
