<div class="row">
  <div class="col-md-4">
    <basket></basket>
  </div>

  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <div class="thumbnail">
              <img ng-src="{{ ::product.thumbnailUrl }}" alt="{{ ::product.title }}">
            </div>
          </div>
          <div class="col-md-6">
            <h4 class="list-group-item-heading">{{ ::product.title }}</h4>
            <small>by {{ ::product.author }}</small>
            <div rating="item.rating"></div>
          </div>
          <div class="col-md-2">
            <div class="text-center h2">${{ ::product.price }}</div>
            <button class="btn btn-primary" ng-click="addToBasket()">
              <span class="glyphicon glyphicon-plus-sign"></span>
              Add to basket
            </button>
          </div>
        </div>
      </div>
    </div>
    <a ui-sref="products"><span class="glyphicon glyphicon-arrow-left"></span> View all products</a>
  </div>
</div>
